In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
median = df["bedrooms"].median()
median

4.0

In [6]:
df["bedrooms"] = df["bedrooms"].fillna(median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
train = df.drop("price",axis = 'columns')
test = df["price"]

In [12]:
reg = linear_model.LinearRegression()
reg.fit(train,test)

LinearRegression()

In [13]:
reg.predict([[3000,3,15]])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([579201.19929613])

In [15]:
# Coefficient or slope of straight line
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [16]:
# intercept of regression line
reg.intercept_

221323.00186540425